.image-container {
    cursor: pointer;
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.01);

        .thumb {
            transform: rotate(-45deg);
        }
    }
}

.upvotes {
    font-size: 24px;
    
    .thumb { 
        margin-right: 12px; 
        display: inline-block;
        transition: transform .3s ease;
    }
}